<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">localdev123</property>
        <property name="hibernate.connection.url">jdbc:mysql://10.1.40.32:3306/SKILL_MNG</property>
        <property name="hibernate.connection.username">app</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="vn.yume.cv.orm.po.Company"/>
        <mapping class="vn.yume.cv.orm.po.EvaluationFile"/>
        <mapping class="vn.yume.cv.orm.po.ExperienceGroup"/>
        <mapping class="vn.yume.cv.orm.po.Groups"/>
        <mapping class="vn.yume.cv.orm.po.SkillDetail"/>
        <mapping class="vn.yume.cv.orm.po.SkillUpdateStatus"/>
        <mapping class="vn.yume.cv.orm.po.Controllers"/>
        <mapping class="vn.yume.cv.orm.po.EmployeeBank"/>
        <mapping class="vn.yume.cv.orm.po.EmployeeSkill"/>
        <mapping class="vn.yume.cv.orm.po.EmployeeProject"/>
        <mapping class="vn.yume.cv.orm.po.QacComment"/>
        <mapping class="vn.yume.cv.orm.po.EmployeeExperienceDetail"/>
        <mapping class="vn.yume.cv.orm.po.QacQuestionTemplate"/>
        <mapping class="vn.yume.cv.orm.po.MailHistory"/>
        <mapping class="vn.yume.cv.orm.po.EmployeeAchievement"/>
        <mapping class="vn.yume.cv.orm.po.QacAnswer"/>
        <mapping class="vn.yume.cv.orm.po.AccessItems"/>
        <mapping class="vn.yume.cv.orm.po.SkillLevel"/>
        <mapping class="vn.yume.cv.orm.po.EmployeeProfile"/>
        <mapping class="vn.yume.cv.orm.po.ExperienceDetail"/>
        <mapping class="vn.yume.cv.orm.po.Fields"/>
        <mapping class="vn.yume.cv.orm.po.SkillGroup"/>
        <mapping class="vn.yume.cv.orm.po.SkillUnit"/>
    </session-factory>
</hibernate-configuration>
