<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">localdev123</property>
        <property name="hibernate.connection.url">jdbc:mysql://10.1.40.32:3306/SKILL_MNG</property>
        <property name="hibernate.connection.username">app</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="vn/yume/cv/orm/po/Company.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/EvaluationFile.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/ExperienceGroup.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/Groups.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/SkillDetail.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/SkillUpdateStatus.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/Controllers.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/EmployeeBank.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/EmployeeSkill.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/EmployeeProject.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/QacComment.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/EmployeeExperienceDetail.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/QacQuestionTemplate.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/MailHistory.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/EmployeeAchievement.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/QacAnswer.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/AccessItems.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/SkillLevel.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/EmployeeProfile.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/ExperienceDetail.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/Fields.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/SkillGroup.hbm.xml"/>
        <mapping resource="vn/yume/cv/orm/po/SkillUnit.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
